@using Westwind.AspNetCore.Markdown;
@model MySaladlog.Models.Article;
@{
    ViewData["Title"] = "Article";
}

<div class="container-md">
    <div class="article-container">
        <div class="article-title mt-2 mb-4 fs-1">
            @Model.Title
        </div>
    </div>

    <div class="article-container">
        <div class="article-view">
            @Markdown.ParseHtmlStringFromFile("~/../AppData/Articles/" + Model.Path)
        </div>
    </div>
</div>

