@using Westwind.AspNetCore.Markdown;
@{
    ViewData["Title"] = "Article";
}

<div class="container">
    <div class="text-center">
        <h1>Article</h1>
    </div>

    <div class="article-container">
        <div class="article-view">
            @Markdown.ParseHtmlStringFromFile("~/../AppData/Articles/21b70b62_dbde_43d2_b8b1_67d9a687768a_Mi_título___genial.md")
        </div>
    </div>
</div>

