@using Westwind.AspNetCore.Markdown;
@model MySaladlog.Models.Article;
@{
    ViewData["Title"] = "Article";
}

<div class="container-md">
    <div class="article-container">
        <div class="article-title mt-2 mb-4 fs-1">
            @Model.Title
        </div>
    </div>

    <div class="article-container">
        <div class="article-view">
            @Markdown.ParseHtmlStringFromFile("~/../AppData/Articles/" + Model.Path)

            <hr class="mt-5 mb-4"/>
            <div class="article-comments">
                @await Html.PartialAsync("_CreateComment", new Comment() { IdArticle = Model.IdArticle })
                @await Html.PartialAsync("_ViewComment", (IEnumerable<MySaladlog.Models.Comment>)Model.Comments)
            </div>
        </div>
    </div>

</div>

