@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MySaladlog.Models.Tag
@{
    ViewData["Title"] = Model.TagName;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}
<h1>
    @Model.TagName
</h1>