@model MySaladlog.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<head>
    <link href="/css/login.css" rel="stylesheet" />
</head>

<div class="containerLogin">
    <div class="login-box">
        <img class="avatar" src="/Images/lettuce.png">
        <h1>
            Login Here
        </h1>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label for="userName">Usuario</label>
                <input asp-for="UserName" type="text">
                <span asp-validation-for="UserName" style="color:white; font-size:12px; " class="text-danger"></span>
            </div>
            <hr style="width:10%" />
            <div>
                <label for="password">Contraseña</label>
                <input asp-for="Password" type="password">
                <span asp-validation-for="Password" style="color:white; font-size:12px; " class="text-danger"></span>
            </div>
            <input type="submit" value="Iniciar Sesion">
            <a asp-action="Register">No tiene una cuenta?</a>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}