@model MySaladlog.Models.Tag
@{
    List<SelectListItem> tagList = ViewBag.tagList;
}

<label for="tagsList" class="form-label">Agrega un tag a tu artículo!</label>
<input class="form-control" list="tagOptions" id="tagsList" placeholder="Ej.: Receta, Postre,..." asp-for="TagName">
@*<input class="form-control" id="tagId" placeholder="Id" asp-for="IdTag">
<datalist id="tagOptions">
    @foreach (Tag tagOption in ViewBag.Tags)
    {
        <option value="@tagOption.TagName" itemid="@tagOption.IdTag"/>
    }
</datalist>*@

@Html.DropDownList("Agrega un tag a tu artículo", tagList, "Ninguno", new { @class = "form-control" })

<input type="submit" class="btn btn-outline-secondary mb-3 mt-2"
        formaction="AddTag" formmethod="post" value="Agregar tag"/>

<ul class="list-group">
    @foreach (TagArticle tag in ViewBag.ArticleTags)
    {
        <li class="list-group-item">@tag.IdTagNavigation.TagName</li>
    }
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>

<script>
    
</script>
